/* -------------------------------------------------------------------------- */
/*	0. CSS Reset
/* -------------------------------------------------------------------------- */


html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

blockquote::before,
blockquote::after {
    content: "";
}


/* -------------------------------------------------------------------------- */
/*	1. Document Setup
/* -------------------------------------------------------------------------- */


html {
    /* font-size: 62.5%; 1rem = 10px */
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background-color: #fff;
    font-family: PingFangSC-Regular,"Microsoft Yahei-Regular","Microsoft Yahei", Microsoft Sans Serif, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@supports (font-variation-settings: normal) {

    body {}
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
}

/* Base Transitions -------------------------- */

a {
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}



/* Accessibility Settings -------------------- */

@media (prefers-reduced-motion: reduce) {

    * {
        -webkit-animation-duration: 0s !important;
        animation-duration: 0s !important;
        -webkit-transition-duration: 0s !important;
        -o-transition-duration: 0s !important;
        transition-duration: 0s !important;
    }
}


/* -------------------------------------------------------------------------- */
/*	2. Element Base
/* ---------------------------------------------*---------------------------- */


main {
    display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    font-variant-numeric: lining-nums;
    font-weight: 700;
    margin: 0;
}


/*--------------------------------------------------------------
/*	3. title Font Size style
--------------------------------------------------------------*/


h1,
.h1,
.heading-size-1 {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.25;
}

h2,
.h2,
.heading-size-2 {
    font-size: 1.875rem;
}

h3,
.h3,
.heading-size-3 {
    font-size: 1.75rem;
}

h4,
.h4,
.heading-size-4 {
    font-size: 1.5625rem;
}

h5,
.h5,
.heading-size-5 {
    font-size: 1.375rem;
}

h6,
.h6,
.heading-size-6 {
    font-size: 1.25rem;
    letter-spacing: 0.03125em;
    text-transform: uppercase;
}


@media (max-width:767.98px) {

    h1,
    .h1,
    .heading-size-1 {
        font-size: 1.5rem;
    }

    h2,
    .h2,
    .heading-size-2 {
        font-size: 1.375rem;
    }

    h3,
    .h3,
    .heading-size-3 {
        font-size: 1.25rem
    }

    h4,
    .h4,
    .heading-size-4 {
        font-size: 1.125rem
    }

    h5,
    .h5,
    .heading-size-5 {
        font-size: .9375rem
    }

    h6,
    .h6,
    .heading-size-6 {
        font-size: .9375rem
    }

}

@media (min-width:768px) and (max-width:991.98px) {

    h1,
    .h1,
    .heading-size-1 {
        font-size: 2rem
    }

    h2,
    .h2,
    .heading-size-2 {
        font-size: 1.5rem
    }

    h3,
    .h3,
    .heading-size-3 {
        font-size: 1.375rem
    }

    h4,
    .h4,
    .heading-size-4 {
        font-size: 1.25rem
    }

    h5,
    .h5,
    .heading-size-5 {
        font-size: 1rem
    }

    h6,
    .h6,
    .heading-size-6 {
        font-size: .9375rem
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

    h5,
    .h5,
    .heading-size-5{
        font-size: 1.25rem
    }
    h6,
    .h6,
    .heading-size-6 {
        font-size: 1rem
    }
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 85%
}

p {
    line-height: 1.5;
}


i {
    font-style: normal;
}

em,

q,
dfn {
    font-style: italic;
}

em em,
em i,
i em,
i i,
cite em,
cite i {
    font-weight: bolder;
}

big {
    font-size: 1.2em;
}

small {
    font-size: 75%;
}

b,
strong {
    font-weight: 700;
}

ins {
    text-decoration: underline;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

abbr,
acronym {
    cursor: help;
}

address {
    line-height: 1.5;
    margin: 0 0 2rem 0;
}

hr {
    border-style: solid;
    border-width: 0.1rem 0 0 0;
    border-color: #dcd7ca;
    margin: 4rem 0;
}

.post-content hr,
hr.styled-separator {
    background: -o-linear-gradient(right, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
    background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
    background-color: transparent !important;
    border: none;
    height: 0.1rem;
    overflow: visible;
    position: relative;
}

.post-content hr:not(.has-background),
hr.styled-separator {
    color: #6d6d6d;
}

.post-content hr::before,
.post-content hr::after,
hr.styled-separator::before,
hr.styled-separator::after {
    background: currentColor;
    content: "";
    display: block;
    height: 1.6rem;
    position: absolute;
    top: calc(50% - 0.8rem);
    -webkit-transform: rotate(22.5deg);
    -ms-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
    width: 0.1rem;
}

.post-content hr::before,
hr.styled-separator::before {
    left: calc(50% - 0.5rem);
}

.post-content hr::after,
hr.styled-separator::after {
    right: calc(50% - 0.5rem);
}

a {
    color: #161e27;
    text-decoration: none;
}

a:hover,
a:focus,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #11181f;
}

/* Lists ------------------------------------- */


dt,
dd {
    line-height: 1.5;
}

dt {
    font-weight: 700;
}

dt+dd {
    margin-top: 0.5rem;
}

dd+dt {
    margin-top: 1.5rem;
}


/* Quotes ------------------------------------ */

blockquote {
    border-color: #f12348;
    border-style: solid;
    /*rtl:ignore*/
    border-width: 0 0 0 4px;
    font-size: 1.25rem;
    margin: 4rem 0;
    /*rtl:ignore*/
    padding: 0.5rem 0 0.5rem 2rem;
}

cite {
    font-size: .875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
}

blockquote cite {
    display: block;
    margin: 2rem 0 0 0;
}

blockquote p:last-child {
    margin: 0;
}


/* Code -------------------------------------- */

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.4rem 0.6rem;
}

code,
kbd,
samp {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 0.2rem;
}

pre {
    border: 1px solid #f4f4f5;
    line-height: 1.5;
    margin: 4rem 0;
    overflow: auto;
    padding: 1.5rem;
    text-align: left;
}

pre code {
    background: transparent;
    padding: 0;
}

.nice-dark-mode pre{
    border-color: #363a44;
}
/* Media ------------------------------------- */

figure {
    display: block;
    margin: 0;
}

iframe {
    display: block;
    max-width: 100%;
}

video {
    display: block;
}

svg,
img,
embed,
object {
    display: block;
    height: auto;
    max-width: 100%;
}

figcaption,
.wp-caption-text {
    color: #6d6d6d;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 1.5rem;
}

figcaption a,
.wp-caption-text a {
    color: inherit;
}

blockquote.instagram-media,
iframe.instagram-media {
    margin: auto !important;
}


/* GALLERIES */

.gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 3em 0 3em -0.8em;
    width: calc(100% + 1.6em);
}

.gallery-item {
    margin: 0.8em 0;
    padding: 0 0.8em;
    width: 100%;
}

.gallery-caption {
    display: block;
    margin-top: 0.8em;
}


/* Inputs ------------------------------------ */

fieldset {
    border: 1px solid #f4f4f5;
    padding: 2rem;
}

legend {
    font-size: 0.85em;
    font-weight: 700;
    padding: 0 1rem;
}


input,
textarea,
button,
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file__button {
    font-family: initial;
    line-height: 1;
}

@supports (font-variation-settings: normal) {

    input,
    textarea,
    button,
    .button,
    .faux-button,
    .faux-button.more-link,
    .wp-block-button__link,
    .wp-block-file__button {
        font-family: initial;
    }
}

input,
textarea {
    border-color: #f4f4f5;
    color: #000;
}

code,
input[type="url"],
input[type="email"],
input[type="tel"] {

    /*rtl:ignore*/
    direction: ltr;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}


textarea {
    line-height: 1.5;
    width: 100%;
}

input::-webkit-input-placeholder {
    line-height: normal;
}

input:-ms-input-placeholder {
    line-height: normal;
}

input::-moz-placeholder {
    line-height: revert;
    /* Reset to the value from the user-agent stylesheet. */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

button,
button:focus,
button:hover,
.button:focus,
.button:hover,
    {
    -webkit-appearance: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
    margin: 0;
    opacity: 1;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

button:focus,
button:hover,
.button:focus,
.button:hover,
.faux-button:focus,
.faux-button:hover,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    text-decoration: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {}

input[type="search"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}

select,
textarea {

    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

textarea {
    height: auto;
    resize: none;
}


input[type=checkbox] {
    -webkit-appearance: checkbox !important;
}

input[type=radio] {
    -webkit-appearance: radio !important;
}
menu,
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
/*	4. row Size style
--------------------------------------------------------------*/
.row-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.25rem;
    margin-right: -0.25rem
}

.row-xs [class*="col-"],
.row-xs .col {
    padding-left: 0.25rem;
    padding-right: 0.25rem
}

.row-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.row-sm [class*="col-"],
.row-sm .col {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}

.row-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.75rem;
    margin-right: -.75rem
}

.row-md [class*="col-"],
.row-md .col {
    padding-left: .75rem;
    padding-right: .75rem
}


.row-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem
}

.row-lg [class*="col-"],
.row-lg .col {
    padding-left: 1rem;
    padding-right: 1rem
}

@media (max-width:767.98px) {

    .row-xs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -0.25rem;
        margin-right: -0.25rem
    }

    .row-xs [class*="col-"],
    .row-xs .col {
        padding-left: 0.25rem;
        padding-right: 0.25rem
    }

    .row-sm {
        margin-left: -0.375rem;
        margin-right: -0.375rem
    }

    .row-sm [class*="col-"],
    .row-sm .col {
        padding-left: 0.375rem;
        padding-right: 0.375rem
    }

    .row-sm [class*="col-"].py-2 {
        padding-bottom: 0.375rem !important;
        padding-top: 0.375rem !important;
    }

    .row-sm.my-n2 {
        margin-bottom: -0.375rem !important;
        margin-top: -0.375rem !important;
    }
    
    .row-md {
        margin-left: -.375rem;
        margin-right: -.375rem
    }

    .row-md [class*="col-"],
    .row-md .col {
        padding-left: .375rem;
        padding-right: .375rem
    }

}



@media (min-width:768px){
    .row-sm [class*="col-"].py-md-3 {
        padding-bottom: 0.75rem !important;
        padding-top: 0.75rem !important;
    }
    .row-sm.my-md-n3 {
        margin-bottom: -0.75rem !important;
        margin-top: -0.75rem !important;
    }
}

@media (min-width:768px) and (max-width:991.98px) {

    .row-sm {
        margin-left: -0.625rem;
        margin-right: -0.625rem;
    }

    .row-sm [class*="col-"],
    .row-sm .col {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

    .row-sm [class*="col-"].py-md-3 {
        padding-bottom: 0.625rem !important;
        padding-top: 0.625rem !important;
    }

    .row-sm.my-md-n3 {
        margin-bottom: -0.625rem !important;
        margin-top: -0.625rem !important;
    }
    
    .row-md {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -.5rem;
        margin-right: -.5rem
    }

    .row-md [class*="col-"],
    .row-md .col {
        padding-left: .5rem;
        padding-right: .5rem
    }

}

@media (max-width:991.98px) {


    .row-lg {
        margin-left: -.5rem;
        margin-right: -.5rem
    }

    .row-lg [class*="col-"],
    .row-lg .col {
        padding-left: .5rem;
        padding-right: .5rem
    }


}

@media (min-width: 1441px) and (max-width: 1920px) {

    .container {
        max-width: 1280px;
    }

}

@media (min-width: 1921px) {

    .container {
        max-width: 1320px;
    }

}

/*--------------------------------------------------------------
/*	5. Size style
--------------------------------------------------------------*/
.w-8 {
    width: 8px !important;
    height: 8px !important
}

.w-12 {
    width: 12px !important;
    height: 12px !important
}

.w-16 {
    width: 16px !important;
    height: 16px !important
}

.w-20 {
    width: 20px !important;
    height: 20px !important;
    font-size: 0.6em
}

.w-24 {
    width: 24px !important;
    height: 24px !important;
    font-size: 0.7em
}

.w-28 {
    width: 28px !important;
    height: 28px !important;
    font-size: 0.8em
}

.w-32 {
    width: 32px !important;
    height: 32px !important;
    font-size: 0.85em
}

.w-36 {
    width: 36px !important;
    height: 36px !important;
    font-size: 0.875em
}

.w-40 {
    width: 40px !important;
    height: 40px !important
}

.w-48 {
    width: 48px !important;
    height: 48px !important
}

.w-56 {
    width: 56px !important;
    height: 56px !important
}

.w-64 {
    width: 64px !important;
    height: 64px !important
}

.w-72 {
    width: 72px !important;
    height: 72px !important
}

.w-80 {
    width: 80px
}

.w-96 {
    width: 96px
}

.w-128 {
    width: 128px
}

.w-168 {
    width: 168px
}

.w-192 {
    width: 192px
}

.w-xs {
    width: 90px
}

.w-auto {
    width: auto
}

.h-auto {
    height: auto
}

.hv {
    height: 100vh
}

.h-v {
    min-height: 100vh
}

.h-v-30 {
    min-height: 30vh
}

.h-v-33 {
    min-height: 33vh
}

.h-v-50 {
    min-height: 50vh
}

.h-v-66 {
    min-height: 66vh
}

.h-v-75 {
    min-height: 75vh
}

@media (max-width:1199.98px) {
    .w-auto-lg {
        width: auto !important
    }

    .w-100-lg {
        width: 100% !important
    }

}

@media (max-width:991.98px) {
    .w-auto-md {
        width: auto !important
    }

    .w-100-md {
        width: 100% !important
    }

}

@media (max-width:767.98px) {
    .w-auto-sm {
        width: auto !important
    }

    .w-100-sm {
        width: 100% !important
    }

}

@media (max-width:575.98px) {
    .w-auto-xs {
        width: auto !important
    }

    .w-100-xs {
        width: 100% !important
    }

}

@media (min-width: 768px) {
    .h-v-25 {
        min-height: 25vh
    }
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: auto;
}

/*--------------------------------------------------------------
/*	6.Scrollable
--------------------------------------------------------------*/
.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scrollable.hover {
    overflow: visible;
    overflow-y: auto;
}

.scrollable.hover:hover,
.scrollable.hover:focus,
.scrollable.hover:active {
    overflow: visible;
    overflow-y: auto;
}

/*--------------------------------------------------------------
/*	7. title Font Size style
--------------------------------------------------------------*/
.text-xs {
    font-size: 0.75rem !important
}

.text-sm {
    font-size: 0.875rem !important
}

.text-md {
    font-size: 0.9375rem !important
}

.text-lg {
    font-size: 1.125rem !important
}

.text-xl {
    font-size: 1.625rem !important
}

.text-xxl {
    font-size: 2.625rem !important
}

.text-40 {
    font-size: 2.5rem !important
}

.text-64 {
    font-size: 4rem !important
}

@media (max-width:767.98px) {
    .text-xl {
        font-size: 1.5rem !important
    }

    .text-lg {
        font-size: 0.9375rem !important
    }

    .text-lg.iconfont {
        font-size: 1.125rem !important;
    }

    .text-md {
        font-size: 0.875rem !important;
    }

    .text-xs {
        font-size: 0.625rem !important
    }

    .text-xxs {
        font-size: 0.6875rem !important;
    }

}

@media (min-width:768px) and (max-width:991.98px) {
    .text-xl {
        font-size: 1.5rem !important
    }

    .text-lg {
        font-size: 1rem !important
    }

    .text-md {
        font-size: .875rem !important
    }

}

@media (min-width: 1441px) {
    .text-sm {
        font-size: 0.875rem !important;
    }

    .text-md {
        font-size: 1rem !important
    }

}

/*--------------------------------------------------------------
/*	8. title Font Size style
--------------------------------------------------------------*/
.text-height-xs {
    line-height: 1 !important
}

.text-height-sm {
    line-height: 1.2 !important
}

.text-height-md {
    line-height: 1.4 !important
}

.text-height-lg {
    line-height: 1.6 !important
}

.text-height-xl {
    line-height: 2 !important
}

/* text space style ----------------------------- */
.text-space-md {
    letter-spacing: 5px;
}

.text-space-lg {
    letter-spacing: 15px;
}

/* Icon style ----------------------------- */

.iconfont {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.iconfont.text-sm {
    font-size: 1rem !important
}

.iconfont.text-md {
    font-size: 1.25rem !important
}

.iconfont.text-lg {
    font-size: 1.375rem !important
}

.iconfont.text-xl {
    font-size: 1.875rem !important
}

@media (max-width:767.98px) {
    .iconfont.text-xl {
        font-size: 1.75rem !important
    }

    .iconfont.text-lg {
        font-size: 1.25rem !important
    }

    .iconfont.text-md {
        font-size: 1rem !important;
    }

}

@media (min-width:768px) and (max-width:991.98px) {
    .iconfont.text-xl {
        font-size: 1.5rem !important
    }

    .iconfont.text-lg {
        font-size: 1.25rem !important
    }

    .iconfont.text-md {
        font-size: 1rem !important
    }

}

/* -------------------------------------------------------------------------- */
/*	9.  Entry Content
/* -------------------------------------------------------------------------- */


.post-content {
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word; 
}

.post-content a:hover,
.post-content a:focus {
    text-decoration: none;
}

.post-content p,
.post-content li {
    line-height: 2;
}

.post-content p {
    margin: 0 0 1.5625rem;
}

.post-content li img {
    display: inline-block;
}

.post-content h1,
.post-content h2,
.post-content h3 {
    margin: 3.5rem auto 2rem;
}

.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 4.5rem auto 2.5rem;
}

.post-content h2 {
    position: relative;
    padding: 2.5rem 0 0;
}

.post-content h2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 4px;
    background: #f12348;
}

.post-content ul ul,
.post-content ol ol,
.post-content ul ol,
.post-content ol ul {
    margin-bottom: 1rem;
}

.post-content hr {
    margin: 4rem auto;
}

.post-inner .post-content>.wp-block-cover.alignwide:first-child,
.post-inner .post-content>.wp-block-cover.alignfull:first-child {
    margin-top: 0;
}

@media (max-width: 767.98px) {

    .post-content h1,
    .post-content h2,
    .post-content h3 {
        margin: 2.5rem auto 1.75rem;
    }

    .post-content h4,
    .post-content h5,
    .post-content h6 {
        margin: 2.5rem auto 1.75rem;
    }

    .post-content h2 {
        padding: 2rem 0 0;
    }
}


/*--------------------------------------------------------------
/*	10. post table style
--------------------------------------------------------------*/

.post-content table {
    margin: 0 0 2rem;
}


/* Font Families ----------------------------- */

.post-content {
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content cite,
.post-content figcaption,
.post-content table,
.post-content address,
.post-content .wp-caption-text,
.post-content .wp-block-file {
    font-family: initial;
}

@supports (font-variation-settings: normal) {

    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4,
    .post-content h5,
    .post-content h6,
    .post-content cite,
    .post-content figcaption,
    .post-content table,
    .post-content address,
    .post-content .wp-caption-text,
    .post-content .wp-block-file {
        font-family: initial;
    }
}


/* Tables ------------------------------------ */

.post-content > table,
.post-content div > table {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    font-size: .9375rem;
    margin: 0;
    border: 1px solid #f4f4f5;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}


.post-content > table th,
.post-content div > table th {
    font-weight: 700;
}
.post-content > table th,
.post-content > table td,
.post-content div > table th,
.post-content div > table td {
    border: 0.1rem solid #f4f4f5;
    line-height: 1.6;
    padding: .75rem 1.125rem;
    margin: 0;
    overflow: visible;
}


.post-content > table thead,
.post-content div > table thead {
    vertical-align: bottom;
    white-space: nowrap;
}


.post-content > table tbody tr:nth-child(odd),
.post-content div > table tbody tr:nth-child(odd)  {
    background: #fbfbfb;
}


.post-content > .alignleft>table,
.post-content > .alignright>table,
.post-content div > .alignleft>table,
.post-content div > .alignright>table {
    margin: 0;
}

.post-content caption {
    background: #f4f4f5;
    font-weight: 600;
    padding: 0.5em;
    text-align: center;
}



.nice-dark-mode .post-content > table,
.nice-dark-mode .post-content div > table {
    border-color: #363a44;
    background-color:#2e313a;

}

.nice-dark-mode .post-content > table th,
.nice-dark-mode .post-content > table td,
.nice-dark-mode .post-content div > table th,
.nice-dark-mode .post-content div > table td {
    border-color: #363a44;

}



.nice-dark-mode .post-content > table tbody tr:nth-child(odd),
.nice-dark-mode .post-content div > table tbody tr:nth-child(odd)  {
    background: #363a44;
}



.nice-dark-mode .post-content caption {
    background: #363a44;
}


.nice-dark-mode pre {
    color: #8c8e94;
    background-color: #363a44;
}
.nice-dark-mode pre .hljs{
    background-color: #363a44;
}
